html {
    height: 100%;
    overscroll-behavior: none;
}

body {
    /* background: -webkit-gradient(linear, left top, left bottom, from(#F2EBD5)); */
    background: #F2EBD5;
    /* width: 100%;
    height: 100%; */
    margin: 0;
    /* background-size: cover; */
    /* background-repeat: repeat-x; */
    /* background-attachment: fixed; */
}

.nav-logo {
    width: 50px;
    height: 50px;
    border: 1px solid #f2ebd5;
    display: inline-block;
}

.navbar,
.nav {
    background-color: #022623;
    padding: 15px;
}

.nav-item,
.nav-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: #f2ebd5;
    text-decoration: none;
    font-size: 20px;
}

.hero-img {
    /* image file needs to be renamed */
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/online-web-design.jpg");
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.cta-items {
    margin-top: 50px;
}

.cta-button {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    background: #A64812;
    color: #F2EBD5;
    border: 1px solid #F2EBD5;
    padding: 15px;
    border-radius: 50px;
    font-size: 20px;
    width: 200px;
}

.cta-slogan {
    font-family: 'Roboto', sans-serif;
    font-weight: 300px;
    color: #F2EBD5
}

.slogan {
    font-family: 'Roboto', sans-serif;
    font-size: 55px;
    font-weight: 900;
    color: #F2EBD5;
}

.about-slogan {
    font-family: 'Roboto', sans-serif;
    font-size: 55px;
    font-weight: 900;
    color: black;
}

.about-content {
    margin-top: 200px;
}